* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: black;
    border: 1px solid transparent;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}